/* Estilos para a seção de contato */
.contato {
    background: linear-gradient(to right, #000, var(--cor-dourada));
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.contato-form {
    flex: 1;
    min-width: 300px;
}

.contato-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-bloco {
    display: flex;
    gap: 1rem;
}

.form-bloco input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    min-height: 150px;
}

button {
    padding: 15px;
    background-color: #000;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000cc;
}

/* Estilo da imagem na seção de contato */
.img {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

select:focus {
    border-color: var(--cor-dourada);
    outline: none;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
    .contato-container {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .form-bloco {
        flex-direction: column;
    }

    button {
        width: 100%;
    }

    .img {
        margin-top: 20px;
        width: 80%;
        height: auto;
    }
}
